corpus/* filter=lfs diff=lfs merge=lfs -text
corpus/** filter=lfs diff=lfs merge=lfs -text
corpus/pubmed/** filter=lfs diff=lfs merge=lfs -text
corpus/textbooks/** filter=lfs diff=lfs merge=lfs -text
corpus/wikipedia/** filter=lfs diff=lfs merge=lfs -text
