newcorpus/* filter=lfs diff=lfs merge=lfs -text
newcorpus/** filter=lfs diff=lfs merge=lfs -text
newcorpus/pubmed/** filter=lfs diff=lfs merge=lfs -text
newcorpus/textbooks/** filter=lfs diff=lfs merge=lfs -text
newcorpus/wikipedia/** filter=lfs diff=lfs merge=lfs -text
